body{
    background-image: url("https://drive.google.com/uc?export=view&id=17nDv2Pa4_a0H7s0sxgjjQhSGF-zgWCGp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Courier New', Courier, monospace  ;
    font-weight: bold;
}
#shop-tabs{
    display: flex;
    justify-content: space-evenly;

}
.nav-bar{
    background-color: rgb(14, 82, 60);
    color: rgb(122, 177, 51);
    height: 40px;
    width: 155px;
    border: solid green 7px;
   border-top-left-radius: 40%;
   border-top-right-radius: 40%;
   transition:0.5s;
   cursor:pointer;
}

.nav-bar:hover{
    transform:scale(1.05,1.05);
}
.nav-bar:active{
    transform:scale(1.025,1.025);
}
 
#item-display { 
   border: solid rgb(38, 80, 38) 15px;
   border-radius: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    width: 1000px;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll; 
}
#cart{
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: -130px;
}
#advice{
    height: 880px;
    width: 250px;
    background-color: rgb(141, 99, 44);
    display: inline-block;
    margin-right: 20px;
    padding-left: 25px;
    border: solid rgb(77, 34, 0) 12px;
    border-radius: 20px;
}
#post{
    display: flex;
    flex-wrap: wrap;
    height:fit-content;
    width: 200px;
    margin-bottom:10px;
}
#display-pic{
    height: 50px;
    width: 50px;
  
}
#display-name{
    border-bottom: solid rgba(83, 47, 5, 0.568);
    width: fit-content;
    height: fit-content;
    color: rgb(21, 28, 121);
   
}
.comment{
    display: inline-block;
    height: fit-content;
    margin: 0px;
    
}
main{
    display: flex;
}
#item-card{
    
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 150px;
    margin: 5px;
    align-items: center;
    border: solid 10px rgb(24, 53, 116);
    border-radius: 5%;
}

section{
    position: relative;
}

#item-pic{
    width: 100px ;
    height: 100px;
    
}

figcaption{
    display: flex;
}
footer{
    display: flex;
    width:1300px;
    justify-content: space-between;
    align-items: center;
}

#kecleon{
    height: 180px;
    width: 180px;
    border: solid 10px rgb(24, 53, 116);
    border-radius: 20%;
    cursor: pointer;
    position: relative;
    bottom: 200px;
    right: -310px;
}
#kecleon:hover{
    transform:scale(1.05,1.05);
    content: url('https://drive.google.com/uc?export=view&id=11oq98NfFV8bwK29raR7hCqtc4cw6Ar0H');
}
#kecleon:active{
    content: url('https://drive.google.com/uc?export=view&id=11oq98NfFV8bwK29raR7hCqtc4cw6Ar0H');

}
 
img{
    height: 100%;
    width: 100%;
}
